
<ion-content [fullscreen]="true">
  <div class="search">
    <input class="search-input" [(ngModel)]="searchCity" placeholder="Cari kota..." (keyup.enter)="searchLocation()">
    <button class="search-button" (click)="searchLocation()">
      <ion-icon slot="start" name="search"></ion-icon>Cari
    </button>
  </div>
  <div class="location-status">
    <span class="city">{{cityName}}</span>
    <span class="date">{{ todayDate | date: 'EEE, h:mma' }}</span>
  </div>

  <ion-card class="weather-card">
    <ion-card-header>
      <img [src]="weatherIcon">
    </ion-card-header>
    <ion-card-content class="weather-content">
      <ion-row class="temperature">
        <ion-card-title>{{(weatherTemp?.temp - 273.15).toFixed(0)}}°</ion-card-title>
        <ion-card-subtitle class="weather-status">
          <span>{{ weatherDescription }}</span>
          <ion-row class="high-low">
            <ion-card-subtitle class="high"><strong>H :</strong> {{ highest }}° C</ion-card-subtitle>
            <ion-card-subtitle class="low"><strong>L :</strong> {{ lowest }}° C</ion-card-subtitle>
          </ion-row>
        </ion-card-subtitle>
      </ion-row>
      <ion-row class="sunrise-sunset">
        <ion-col size="6">
          <ion-card class="blok">
            <ion-card-content>
                <ion-row>
                  <ion-col size="12">
                    <ion-icon name="sunny" size="large"></ion-icon>
                    <ion-card-subtitle>Sunrise <br> {{ sunrise }}</ion-card-subtitle>
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card class="blok">
            <ion-card-content>
                <ion-row>
                  <ion-col size="12">
                    <ion-icon name="moon" size="large"></ion-icon>
                    <ion-card-subtitle>Sunset <br> {{ sunset }}</ion-card-subtitle>
                  </ion-col>
                </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>

</ion-content>
